#about_header {
    background: #FFFFFF;
}

.about_header_content h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding-bottom: 20px;
}

/* .about_header_content p {
    text-align: center;
    

} */

.orange{
    color: var(--color-primary);
}