#founder{
    background-color: #FFFFFF;
    background-image: url("../../assets/founder/founderbg.png");
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.founder_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    justify-self: center;
}

.founder_img img{
    width: 120%;
    height: auto;
    object-fit: cover;
    padding-bottom: 10px;
}

.founder_text{
    width: 50%;
}

.founder_text h2 {
    padding-bottom: 20px;
}

/* Media Queries (tablets) */
@media screen and (max-width: 1024px){
    .founder_container{
        flex-direction: column;
    }

    .founder_text{
        text-align: center;
    }

    .founder_img{
        display: flex;
        align-items: center;
    }
}

/* Media Queries (phones) */
@media screen and (max-width: 600px){
    .founder_container{
        flex-direction: column;
    }

    .founder_text{
        text-align: center;
    }

    .founder_img{
        display: flex;
        align-items: center;
    }
}