.bg-wrapper {
  background-color: #FFF9F5;
  padding: 60px 0px;
}

.container {
  max-width: 7xl;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mb-6 {
  margin-bottom: 6px;
}

.heading {
  font-size: 34;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-bottom: 10px;
}

.paragraph {
  margin-top: 2px;
  font-size: small;
  color: #666;
  padding-bottom: 20px;
}

.form-container {
  display: flex;
  width: 60%;
  gap: 10px;
  margin-top: 4px;
  justify-content: center;
  align-items: center;
}

.input {
  height: 3rem;
  width: 65%;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 8px;
  font-size: small;
  transition: border-color 0.3s;
  display: flex;
  border-radius: 6px;
  margin-top: 4px;
}

.input:focus {
  border-color: #4c4c6d;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button {
  width: 20%;
  height: 3rem;
  justify-content: center;
  border-radius: 4px;
  margin-top: 4px;
  font-size: small;
  font-weight: medium;
  transition: background-color 0.3s;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}


.button:hover {
  background-color: #4c4c6d;
}


@media screen and (max-width: 600px) {
  .form-container {
    flex-direction: column;
  }

  .mb-6{
    align-items: center;
    text-align: center;
  }

  .heading{
    padding-bottom: 10px;
  }

  .input {
    width: 160%;
  }

  .button {
    width: 100%;
    margin-top: 20px;
  }
}