#about_header {
    background: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 40px;
}

.about_header_content h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding-bottom: 20px;
    font-size: 38;
}

.orange{ 
    color: var(--color-primary);
}