#our_vision{
    padding-top: 40px;
    padding-bottom: 80px;
    background: #F2F2F2;
}

#our_vision h2{
    text-align: center;
}

.our_vision_content {
    text-align: center;
    padding-bottom: 1.25rem;
}

.first_mission{
    padding: 60px;
}

.first_mission p{
    font-size: 24;
    text-align: center;
}

.first_mission_text{
    padding: 40px;
    background-color: #E77D22;
    border-radius: 8px;
    color: white;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset;
}

.second_mission{
    background-color: #F07D22;
    padding: 80px;
}

.second_mission p{
    font-size: 24;
    text-align: center;
}

.second_mission_text{
    padding: 40px;
    border: transparent 1px;
    background-color: #E77D22;
    border-radius: 8px;
    color: white;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset;
}

.card_mission{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 168px;
}

.card_mission p{
    border-radius: 10px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Media Queries (tablets) */
@media screen and (max-width: 1024px) {
    .card_mission{
        display: flex;
        flex-direction: column;
    }
}

/* Media Queries (phones) */
@media screen and (max-width: 600px) {
    #our_vision{
        padding-bottom: 10px;
    }

    .first_mission{
        padding: 20px;
    }

    .second_mission{
        padding: 20px;
    }

    .card_mission{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}