#meet_team{
    padding-top: 40px;
    padding-bottom: 40px;
}

.meet_container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 1rem;
}

.meet_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
    width: 100%;
    flex-direction: row;
    padding: 1rem;
}

.meet_card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet_card img{
    padding-bottom: 10px;
}


/* Media Queries (tablets) */
@media screen and (max-width: 1024px){
    .meet_cards{
        flex-direction: column;
        width: 100%;
    }

    .meet_card{
        justify-content: center;
        align-items: center;
    }

    .meet_card img{
        /* padding-bottom: 10px; */
        width: 100%;
    }
}

/* Media Queries (phones) */
@media screen and (max-width: 600px){
    .meet_cards{
        flex-direction: column;
    }
}