#our_contact {
    background-color: #F1842D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#our_contact h2 {
    color: white;
    margin-bottom: 20px;
}

.contact_info_container {
    background-color: white;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
}

.contact_form_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.contact_form_container img {
    width: 50%;
}

.contact_form_container form {
    width: 100%;
}

.contact_form {
    padding: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 50%;
}
.divider {
    width: 90%;
    background-color: #BDBDBD;
    border-radius: 5px;
    padding: .5px;
}


.contact_information_container {
    display: flex;
    gap: 15%;
    align-items: center;
    width: 90%;
}

.contact_info_item {
    display: flex;
    gap: 4px;
}

.contact_info_item h6 {
    font-size: 1.2rem;
    margin: 0;
    color: var(--color-primary);
}

.contact_info_item p {
    font-size: 0.9rem;
    margin: 0;
}

.icon_container {
    display: flex;
    align-items: flex-start;
}

.contact_info_item_img {
    width: 30px;
    margin-right: 10px;
}

.form_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form_input input,
.form_input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(140, 140, 155);
    border-radius: 5px;
    margin-top: 5px;
}

/* Media Queries for Tablets */
@media screen and (min-width: 601px) {
    .contact_information,
    .contact_form {
        width: 40%;
    }
}

/* Media Queries for Phones */
@media screen and (max-width: 600px) {
    .contact_info_container {
        flex-direction: column;
    }

    .contact_information,
    .contact_form {
        width: 100%;
    }
}
