/* Styling for the navigation bar */
nav{
    width: 100vw;
    height: 5rem;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: var(--transition);
    padding-top: 16px;
    padding-left: 80px;
    padding-right: 90px;
    
    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 2px 0 rgba(136, 140, 181, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

HashLink{
    margin-right: 30%;
}

/* Styling for the container within the navigation bar */
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container a:hover{
    color: var(--color-primary);
    font-weight: 400;
}

.space_container{
    padding-left: 800px;
}

/* Styling for the logo within the navigation bar */
.nav_logo{
    width: 10rem;
}

/* Styling for the navigation menu within the navigation bar */
.nav_menu{
    display: flex;
    gap: 3.5rem;
    justify-content: flex-start;
    padding-right: 10px;
}

.nav_menu a {
    color: #000;
}

.nav_menu a.active {
    color: var(--color-primary);
}

/* Styling for the theme icon button within the navigation bar */
#nav_btn{
    position: relative;
    background: var(--color-primary);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 0.313rem;
    padding: 0.5rem 1rem;
}

#nav_btn:hover{
    background: var(--color-white);
}

/*HIDE NAV MENU ON TABLET AND PHONES*/

@media screen and (max-width: 1024px) {
    .nav_menu_item{
        display: none;
    }

    #nav_btn{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .nav_menu_item{
        display: none;
    }

    #nav_btn{
        display: none;
    }
}