#partners {
    background: #F2F2F2;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4;
    padding-bottom: 140px;
}

.partners_container {
    display: flex;
    width: 100%;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px){
   #partners {
        padding-bottom: 120px;
   }
}

@media screen and (max-width: 600px){
    #partners {
        padding-bottom: 70px;
   }
}